* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  z-index: 1;
}

#map {
  max-width: 100%;
  max-height: 100%;
}

#legend {
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem;
}

#legend div {
  margin: .5rem;
}

#legend div span {
  padding: .1rem .5rem;
  margin-right: .5rem;
}

#type {
  display: flex;
  justify-content: center;
  align-items: center;
}

#type button {
  background-color: #fff;
  border: none;
  color: black;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem .5rem;
  border-radius: 1rem;
}

#type button:hover {
  filter: brightness(.8);
}

#title {
  color: #fff;
  margin-top: 2rem;
  text-align: center;
  font-size: 1.6rem;
}

#title a {
  color: #fff;
}

@media screen and (min-width: 768px) {
  header {
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
  }

  #map {
    margin-top: 5rem;
    overflow: hidden;
  }

    #legend {
      position: absolute;
      top: 0;
      right: 0;
    }
}